#bottom-cta {
    background-color: var(--color-green);
    color: white;
    justify-content: space-around;
    height: 800px;
    background-image: url(/media/hero-img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#bottom-cta h4 {
    color: var(--color-green);
}

#bottom-cta-content-wrapper {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.707);
}

#bottom-cta-content-wrapper h5 {
    margin-bottom: 52px;
}
