#como-funciona {
    background-color: var(--color-green);
    color: black;
}


#steps-section {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.step {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.step-circle {
    width: 133px;
    height: 133px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;
}

.step-number-circle {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top: -8px;
    right: -8px;
}

.step-img {
    width: 72px;
    height: 72px;
}

.step-title {
    font-size: 2.4rem;
    font-weight: 600;
}

.step-details {
    margin-top: 14px;
}