#categorias-de-concurso {

    color: black;
    /* background-color: blue; */

}





.cards-container {
    /* background-color: red; */
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 32px;
}

.concurso-card {
    height: 380px;
    width: 315;
    /* min-height: 380px;
    min-width: 315px; */
    max-width: 315px;
    border: 1px solid rgba(204, 204, 204, 0.505);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.283);
}

.concurso-card-img {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.concurso-card-title {
    font-size: 2rem;
    margin-bottom: 8px;
    font-weight: 500;
}

.concurso-card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px;
}