#principios {
    /* background-color: red; */
    color: black;
}

.principio-card-list {
    /* background-color: blue; */
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.principio-card {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 220px;
}

.principio-card-img-wrapper {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principio-card-img {
    height: 65px;
    width: 65px;
}

.principio-card-title {
    font-size: 2rem;
    font-weight: 600;
    margin: 24px 0 16px 0;
}