#sobre {
    background-color: rgb(238, 232, 225);
    color: black;
}

#about-block {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}



#company-info {
    flex: 2;
}

#company-card-data {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0 10%;
}

.about-paragraph {
    padding-bottom: 16px;
}

.about-card-data {
    width: 180px;
    height: 140px;

    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid ;
}

.about-card-number {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 12px;

}

.about-card-details {
    font-weight: 300;
}